body {
    background-size: 125%;
    background-image: url("media/22.jpg");
}

img {
    width: 422px;
    height: 422px;
    margin-left: 830px;
    margin-top: 80px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 31px;
    border-radius: 2px;
}

.container {
    text-align: justify;
    width: 50%;
    margin-top: -420px;
    margin-left: 75px;
}

.choice-container {
    display: flex;
    margin-bottom: 8px;
    padding-bottom: 28px;
    width: 100%;
    height: 50px;
    font-size: 28px;
    border: 1.6px solid rgba(251, 255, 0, 0.25);
    background-color: rgba(132, 102, 32, 0.9);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 6.4px 22.4px 0 rgba(14, 111, 202, 0.5);
    transform: translateY(-1.6px);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 2px 15px 28px;
    background-color: rgba(255, 217, 0, 0.418);
    color: white;
}

.choice-text {
    padding-left: 50px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}